<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>key-val index</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css" media="screen"/>

        <script type="text/javascript" src="/node_modules/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/node_modules/vue-resource/dist/vue-resource.js"></script>

        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>

       <div class="allBox">
           <div class="top"></div>

           <div class="center">
               <div class="left"></div>

               <div id="main">
                    <h1>Welcome {{name}}</h1>
                    <button @click="toKeyVal()">我想查看网站键值对</button>
                    <br/>
                    <button @click="toLogin()">我想先使用账户功能</button>
                </div>

               <div class="right"></div>
           </div>

           <div class="bottom"></div>
       </div> 

    </body>
</html>