.allBox {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allBox .top {
    height: 10vh;
}

.allBox .center {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.allBox .center .left {
    width: 20vw;
}
.allBox .center .right{
    width: 20vw;
}
#main {
    border: 2px solid;
    width: 60vw;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

